// Styling for the call to action section
div.dashboard {
    @include ferramenta;
    background-image: url('../img/dashboard.png');
    background-position: right;
}
div.macro-campanhas {
    @include ferramenta;
    background-image: url('../img/acompanhamento.png');
    background-position: left;
}
