// Styling for the footer
footer {
	padding: 25px 0;
//	text-align: right;
	color: fade-out(white, .7);
	background-color: $gray-darker;
	p {
		font-size: 12px;
		margin: 0;
	}
	ul {
		margin-bottom: 0;
		li {
			a {
				display: block;
				width: 32px;
				height: 32px;
				background-repeat: no-repeat;
				background-position: center;
				&:hover,
				&:focus,
				&:active,
				&.active {
					text-decoration: none;
					opacity: .7;
				}
			}
			&.facebook a{
				background-image: url(../img/facebook.svg);
			}
			&.instagram a{
				background-image: url(../img/instagram.svg);
			}
			&.youtube a{
				background-image: url(../img/youtube.svg);
			}
		}
	}
}
