#planos{
	.row {
		display: flex;
		flex-wrap: wrap;
	}

	.row > div[class*='col-'] {
		display: flex;
	}

	.card{
		border-radius: 30px;
		border: 0;
		box-shadow: 0 0 20px rgba(8, 0, 255, 0.2);
		width: 20rem;
		padding: 15px;
		margin: $margin-space 0;
		
		h1, h3{
			text-align: center;
			font-size: 30px;
		}
		
		h3{
			@include alt-font;
			text-transform: capitalize;
			margin: $margin-space 0;
		}
		
		.card-list{
			list-style-type: none;
			list-style-image: url(../img/check.svg);
			
			li{
				padding: 8px 0 8px 8px;
				color: $gray-light;
			}
		}
		
		.card-footer{
			background-color: transparent;
			border: 0;
			
			.btn{
				width: 100%;
			}
		}
	}
}