// Styling for the download section
section.whyEasy {
	position: relative;
	h2 {
		font-size: 35px;
		margin: $margin-space;
	}
	.section-desc{
		color: $gray-light;
		margin: $margin-space; 
	}
	.badges {
		margin: $margin-space;
		flex-direction: column;
		> div {
			h3{
				margin: $margin-space 0; 
			}
		}
		.badge-link {
			display: block;
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
			img {
				height: 60px;
			}
			@media(min-width: 768px) {
				display: inline-block;
				margin-bottom: 0;
			}
		}
	}

	iframe{
		max-width: calc(100vw - 100px);
	}

	@media (min-width: 992px) {
		padding: 80px 0;

		.badges {
			flex-direction: row;

			> div {
				max-width: calc(100% / 3 - 30px);
				margin: 0 15px;
				padding: 16px;
			}
		}
	}
}